body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

img {
  border: solid 2px #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  width: 25em;
  margin: 0 auto;
  height: 100%;
}

.container img {
  width: 100%;
}

.container h1 {
  font-size: 24pt;
  font-weight: 600;
}

#monthlist {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  align-items: center;
  border: solid 2px black;
  border-radius: 10px;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  width: 25vw;
  gap: 1em;
}

.monthLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
}

.monthLinks a,
.monthBtn {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  padding: 1em;
  border: solid 1px #00000060;
  width: 5em;
  background-color: #ffffff10;
  transition: all 0.3s ease-in-out;
}

.monthLinks a:hover,
.monthBtn:hover {
  background-color: #ffffff25;
}

h2 {
  margin: 0;
}

.twoPhotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  #monthList {
    width: 90%;
  }

  .container img {
    width: 90%;
  }

  .container h1 {
    margin-bottom: 0;
  }

  .monthLinks a {
    width: 90%;
  }
}
